    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

        .themed-grid-col {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid rgba(86, 61, 124, .2);
        }

        .themed-container {
        padding: .75rem;
        margin-bottom: 1.5rem;
        background-color: rgba(0, 123, 255, .15);
        border: 1px solid rgba(0, 123, 255, .2);
        }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">


<div class="jumbotron">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Born</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Team Name</th>
    </tr>
  </thead>
  <tbody>

    {{#each player}}   
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.born}}</td>
      <td>{{this.nationality}}</td>
      <td>{{this.position}}</td>
      <td>{{this.height}}</td>
      <td>{{this.weight}}</td>
      <td>{{this.team_name}}</td>
    </tr>

    {{/each}}
  </tbody>
</table>

<br>
<p>For your Reference, below are the conversions of height and weight</p>
<br>
<b><p>Conversion of Height(CM --> Inch)</p></b>
{{#each height}}  
<p>{{this}} inch</p>
{{/each}}
<br>
<b><p>Conversion of Weight(KG --> lbs)</p></b>
{{#each weight}}  
<p>{{this}} lbs</p>
{{/each}}
</div>
</div>
<a href="/my-team/roster/add">Add Player</a>