<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Born</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Team Name</th>
    </tr>
  </thead>
  <tbody>

    {{#each player}}   
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.born}}</td>
      <td>{{this.nationality}}</td>
      <td>{{this.position}}</td>
      <td>{{this.height}}</td>
      <td>{{this.weight}}</td>
      <td>{{this.team_name}}</td>
    </tr>

    {{/each}}
  </tbody>
</table>

<a href="/my-team/roster/add">Add Player</a>